<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog throwsExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <variable name="environment" value="dev" />
    <variable name="logDirectory" value="D:\Logs\Refuctor" />
    <variable name="filenamePrefix" value="Refuctor" />
    <variable name="defaultLayout" value="${longdate} |${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}" />
    <targets>

      <target name="ColorConsole" xsi:type="ColoredConsole" layout="${defaultLayout}" />
      <target name="FileInfo" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
        <target name="FileInfo" xsi:type="File" fileName="${logDirectory}\${filenamePrefix}.${shortdate}.log" layout="${defaultLayout}" />
      </target>
      <target name="FileTrace" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
        <target name="FileTrace" xsi:type="File" fileName="${logDirectory}\${filenamePrefix}.${shortdate}.Trace.log" layout="${defaultLayout}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="FileInfo, ColorConsole" />
      <logger name="*" minlevel="Trace" writeTo="FileTrace" />
    </rules>
  </nlog>
</configuration>